<div id="<%= dom_id proceeding %>">
  <p>
    <strong>Name:</strong>
    <%= proceeding.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= proceeding.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= proceeding.category_id %>
  </p>

</div>
