<h1>Editing transaction</h1>
<%= render "form", proceeding: @proceeding %>
<br>
<div>
  <%= link_to "Show this transaction", @proceeding %> |
  <%= link_to "Back to transactions", proceedings_path %>
</div>
